:root {
    --background-color: #131313;
    --card-color: #424242;
    --selection-color: #D9D6A9;

    --selection-top: 0;
    --selection-bottom: 0;
    --selection-left: 0;
    --selection-right: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
}

ul {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    position: relative;
}

.item {
    width: 100%;
    height: 250px;
    color: white;
    padding: 20px;
}

.item article {
    background-color: var(--card-color);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.selection {
    position: absolute;
    background-color: var(--selection-color);
    inset: calc(var(--selection-top) * 1px) calc(100% - (var(--selection-right) * 1px)) calc(100% - (var(--selection-bottom) * 1px)) calc(var(--selection-left) * 1px);
    opacity: 0;
    transition: all 150ms ease-in-out;
    pointer-events: none;
    border-radius: 20px;
}

ul:hover .selection {
    opacity: 0.5;
}